

<div id="video-container">
  <video poster="" id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted>


   <source src="../../assets/videos/fandg.mp4" type="video/mp4">

  </video>
  <div id="overlay"><h1>VINDY</h1><div>
</div>

<%# <div class="background-image">
<img src="/assets/images/frankie.jpg" alt="">
</div>%>
