
<div class="row">
  <div class="users">
   <% users.forEach((user) => { %>
   <div>
     <a href="/users/<%= user.id %>">
      <h2><%= user.username %></h2>
     </a>
   </div>
   <% }) %>
  </div>
 </div>
